<!DOCTYPE html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Open+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      SSEF WTF
    </title>
    <style>
      body{
        background-color: black;
      }
      #title{
        text-align: center;
        color: white;
        font-family: 'Open Sans';
        font-size: 7em;
        margin-bottom: 20px;
      }
      p{
        color: white;
        font-family: 'Open Sans';
        width: 80%;
        margin: auto;
        text-align: center;
      }
      a{
        color: white;
      }
      a:hover{
        color: red;
      }
    </style>
  </head>
  <body>
    <h1 id = "title">SSEF WTF</h1>
    <p>
      SSEF is regarded as an extremely prestigious science research competition, and heralded as the 'Olympics of Research'
      <br/>
      And each year, about 700+ projects take part in this competition to vie for the 6 ISEF places.
      <br/>
      <br/>
      <b>However, the judging process is very unfair</b>
      <br/>
      <br/>
      Hundreds of judges, each with their own biases, standards and areas of interests are invited to judge the projects at SSEF,
      and each project has 6 assigned to them. Every year a lot of bullshit and horror stories are generated.
      <br/>
      <br/>
      <b><a href="/write">Want to share your own story?</a></b>
      <br/>
      <br/>
      <em>This is not meant to be a salt mine, a rage fest or a toxic chamber. <br/>
      We want to see if by gathering feedback from participants, we can make SSEF a fairer fair</em><br/><br/>
      <b><a href="/posts">See other stories</a></b>
    </p>
  </body>
</html>
